
<% if ( errorMsg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <p><%= errorMsg%> </p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    
    <%}%>
  
    <% if ( successMsg != ''){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p><%= successMsg%></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      
      <%}%>
   