	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
				<div class="copyright"> 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://OnsoLab .com" target="_blank">OnsoLab </a>
 </div>
			</div>
		</div>
	</footer> 
	<!-- footer section end -->