
	<section class="hero-section set-bg shad">
		<div class="overlay"> 
                <div class="container w-100 h-100 d-flex flex-column justify-content-center align-items-center" style="padding-top: 20%;">
                    <div class="section-title  mb-0 pb-2 text-light">
                        <h1 class="display-1">404</h1>
                        <p>Page Not Found</p>
                    </div>
                    <div class="text-center pt-5">
                        <a href="/" class="site-btn">Back To Home</a>
                    </div>
                </div>
	</div>
	  </section>
	  