<!-- Start preloader -->
<div id="preloader"></div>
<!-- End preloader -->

<!-- navbar -->
<%- include('../../partials/admin/nav') %>


<%- include('../../partials/messages') %>
<div id="layoutSidenav">
    
    <!-- sidenav -->
    <%- include('../../partials/admin/sidenav') %>

    <div id="layoutSidenav_content" >
        <main>
            
            <div class="container-fluid px-4 row">
               
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="mb-4">
                    
                    
                    <div class="container mt-5 px-2">

                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Staff</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form action="/dashboard/staff" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                  <label for="fullname" class="form-label">Fullname</label>
                                  <input type="text" name="fullname" required class="form-control" id="fullname">
                                </div>
                                <div class="mb-3">
                                <div class="mb-3">
                                  <label for="email" class="form-label">Email</label>
                                  <input type="email" name="email" required class="form-control" id="email">
                                </div>
                                <div class="mb-3">
                                  <label for="role" class="form-label">Office</label>
                                  <input type="text" name="role" required class="form-control" id="role">
                                </div>
                                <div class="mb-3">
                                  <label for="description" class="form-label">Description</label>
                                  <textarea name="description" required class="form-control" id="password"></textarea>
                                </div>
                                <div class="mb-3">
                                  <label for="image" class="form-label">image</label>
                                  <input type="file" name="image" required class="form-control" id="image">
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
