
	<!-- Hero section --> 
	<section class="hero-section set-bg shad" data-setbg="img/bg.jpg">
		<div class="overlay"> 
		<div class="container">
			<div class="hero-text text-white">
				<h2>
				  <span style="color: rgb(246, 185, 3);">Nuturing</span> Little minds for a Brighter<span style="color: rgb(3, 120, 246);"> Future</span>
				</h2> 
				 
				<h4>
					We offer a strong 
				   foundation for your child's future with our 
				  <br>
				  excellent holistic education
				  <br>
				  <span style="color: rgb(244, 140, 20);"> Proverbs 22:6</span>
				</h4>
			  </div>
			  
		</div>
	</div>
	  </section>
	  
	<!-- Hero section end -->

	<!-- values section -->
	<section class="search-section" style="padding-top: 10%;">
		<div class="container">
			
			<div class="section-title mb-0">
				<h2>FEATURES
				</h2>
				<p>Unlocking Potential and Achieving Success with Fatima Nursery and Primary School
				</p>
			</div>
		
				<div class="container bootstrap snippets bootdeys">
					<div class="row">
						<div class="col-md-4 col-sm-6 content-card"> 
							<div class="card-big-shadow" >
								<div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
									<div class="content">
										<h3 class="">

											Academic excellence
											</h3>
										<!-- <h4 class="title"><a href="#">Blue Card</a></h4> -->
										<p class="description text-light">We provide an environment that fosters academic excellence. With experienced and dedicated teachers, the school offers a quality education to young minds. </p>
									</div>
								</div> <!-- end card -->
							</div>
						</div>
						
						
						<div class="col-md-4 col-sm-6 content-card">
							<div class="card-big-shadow">
								<div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
									<div class="content">
										<h3 class="">Dedicated to quality</h3>
										<!-- <h4 class="title"><a href="#">Purple Card</a></h4> -->
										<p class="description text-light">At Fatima Nursery and Primary school, we are dedicated to providing quality education to young minds. We believe that education is the key to success, and we are committed to providing a nurturing environment that fosters academic excellence, spiritual development, and holistic growth.</p>
									</div>
								</div> <!-- end card -->
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 content-card">
							<div class="card-big-shadow">
								<div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
									<div class="content">
										<h3 class="">holistic growth</h3>
										<!-- <h4 class="title"><a href="#">Orange Card</a></h4> -->
										<p class="description text-light">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
									</div>
								</div> <!-- end card -->
							</div>
						</div>
					</div>
					</div>
				
			
		</div>
	</section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="lbg">
        <div class="container">
          <h1 class="text-center text-white w-lg-75 mx-auto fs-xl-6 fs-lg-4 fs-3">A Look Inside</h1>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-6 text-center">
              <h1 class="text-light fs-5 fs-md-6 fs-lg-7 fs-xl-9">120</h1>
              <p class="text-light fs-2">Yearly Admitance</p>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
              <h1 class="text-light fs-5 fs-md-6 fs-lg-7 fs-xl-9">100</h1>
              <p class="text-light fs-2">Current Students </p>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
              <h1 class="text-light fs-5 fs-md-6 fs-lg-7 fs-xl-9">240</h1>
              <p class="text-light fs-2">Total Graduated</p>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->



		
	  
	  <div class="untree_co-section" style="height:max-content" >
		<div class="container">
		  <div class="row mb-5 justify-content-center">
			<div class="col-lg-6 text-center">
			  <h2 class="section-title text-center mb-3">More Services</h2>
			  <p>Far far away, behind the word mountrated thenguage ocean.</p>
			</div>
		  </div>
		  <div class="row align-items-stretch">
			<div class="col-lg-4 order-lg-1">
			  <div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('img/hero-slider-1.jpg');">
			  </div></div></div>
			</div>
	
			<div class="maxhcol-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1" >
	
			  <div class="feature-1 d-md-flex col1 text-white"  >
				<div class="align-self-center" >
				  <span class="flaticon-house display-4 text-primary"></span>
				  <h3>Beautiful Condo</h3>
				  <p class="mb-0">Even the all-powerful Pointing has ts.</p>
				</div>
			  </div>
	
			  <div class="feature-1 d-md-flex col2 text-white"  >
				<div class="align-self-center">
				  <span class="flaticon-restaurant display-4 text-primary"></span>
				  <h3>Restaurants & Cafe</h3>
				  <p class="mb-0">Even the all-powerful Pointi.</p>
				</div>
			  </div>

			  <div class="feature-1 d-md-flex col3 text-white">
				<div class="align-self-center">
				  <span class="flaticon-mail display-4 text-primary"></span>
				  <h3>Easy to Connect</h3>
				  <p class="mb-0">Even the all-powerful Pointing has no.</p>
				</div>
			  
			</div>
	
			<!-- <div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3" >
	
			  
			  </div>
	
	
			</div> -->
	
		  </div>
		</div>
	  </div>
	




	<!-- extra section -->
	<section style="padding-top: 10%;">
		<div class="row d-flex justify-content-center">
		  <div class="col-md-10 col-xl-8 text-center">
			<h3 class="mb-4">

				WHAT PEOPLE ARE SAYING ABOUT US
				</h3>
			<p class="mb-4 pb-2 mb-md-5 pb-md-0">
			  

Don't just take our word for it.

			</p>
		  </div>
		</div>
	  
		<div class="row text-center d-flex align-items-stretch">
		  <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
			<div class="card testimonial-card">
			  <div class="card-up" style="background-color: #B3C2F2;"></div>
			  <div class="avatar mx-auto bg-white">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
				  class="rounded-circle img-fluid" />
			  </div>
			  <div class="card-body">
				<h4 class="mb-4">Maria Smantha</h4>
				<hr />
				<p class="dark-grey-text mt-4" style="color: black;">
				  <i class="fas fa-quote-left pe-2"></i>"I just wanted to say how wonderful it has been having my kids go to Fatima Nursery and Primary School.
				  The teachers are deeply caring and invested in the education of each student, and I can see that in the progress my children have made throughout their time here."
				</p>
			  </div>
			</div>
		  </div>
		  <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
			<div class="card testimonial-card">
			  <div class="card-up" style="background-color: #FFA500;"></div>
			  <div class="avatar mx-auto bg-white">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
				  class="rounded-circle img-fluid" />
			  </div>
			  <div class="card-body" >
				<h4 class="mb-4" style="color: black;">Lisa Cudrow</h4>
				<hr />
				<p class="dark-grey-text mt-4" style="color: black;">
				  <i class="fas fa-quote-left pe-2" ></i>"I have had my children enrolled at Fatima Nursery and Primary School for the past two years,
				  and I am very pleased with their educational progress. The teachers are highly knowledgeable and dedicated to helping children reach their full potential. My kids have grown so much during 
				</p>
			  </div>
			</div>
		  </div>
		  <div class="col-md-4 mb-0 d-flex align-items-stretch">
			<div class="card testimonial-card">
			  <div class="card-up" style="background-color: #B3C2F2;"></div>
			  <div class="avatar mx-auto bg-white">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
				  class="rounded-circle img-fluid" />
			  </div>
			  <div class="card-body">
				<h4 class="mb-4" >John Smith</h4>
				<hr />
				<p class="dark-grey-text mt-4" style="color: black;">
				  <i class="fas fa-quote-left pe-2"></i>"I am so glad my child attends Fatima Nursery and Primary School. 
				  The teachers and staff are very caring, knowledgeable, and professional. My child is always excited to go to school everyday because of the fun activities that they do in class. I have seen a big improvement in 
				</p>
			  </div>
			</div>
		  </div>
		</div>
    </section>



<section class="course-section spad pb-0 pad"  >
	<div class="featured-courses">
		<div class="featured-course course-item">
			<div class="course-thumb set-bg" data-setbg="img/p7.jpg">
				
			</div>
			<div class="row" >
				<div class="col-lg-6 offset-lg-6 pl-0" >
					<div class="course-info">
						<div class="course-text">
							<div class="fet-note" data-radius="none">What we offer</div>
							<h5>consectetur et nunc</h5>
							<p>Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna</p>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="featured-course course-item">
			<div class="course-thumb set-bg" data-setbg="img/p9.jpg">
				
			</div>
			<div class="row">
				<div class="col-lg-6 pr-0">
					<div class="course-info">
						<div class="course-text">
							<div class="fet-note">What we value</div>
							<h5>Lorem ipsum dolor sit</h5>
							<p>Lorem ipsum dolor sit amet, consectetur. Phasellus sollicitudin et nunc eu efficitur. Sed ligula nulla, molestie quis ligula in, eleifend rhoncus ipsum. Donec ultrices, sem vel efficitur molestie, massa nisl posuere ipsum, ut vulputate mauris ligula a metus. Aenean vel congue diam, sed bibendum ipsum. Nunc vulputate aliquet tristique. Integer et pellentesque urna</p>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<!-- extra section end -->

	<!-- Subject section -->
<section class="course-section spad">
		<div class="container">
			<div class="section-title mb-0">
				<h2>Featured Courses</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
		</div>
		<div class="course-warp">
			<ul class="course-filter controls">
				<li class="control active" data-filter="all">Major</li>				
			</ul>                                       
			<div class="row course-items-area">
				<!-- subject -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 finance">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="img/courses/p6.jpg">							
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Art & Crafts</h5>
								<p>Lorem ipsum dolor sit amet, consectetur</p>								
							</div>							
						</div>
					</div>
				</div>
				<!-- subject -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 design">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="img/courses/p5.jpg">							
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Science</h5>
								<p>Lorem ipsum dolor sit amet, consectetur</p>								
							</div>							
						</div>
					</div>
				</div>
				<!-- subject -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 web">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="img/courses/p4.jpg">							
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Religious Studies</h5>
								<p>Lorem ipsum dolor sit amet, consectetur</p>							
							</div>							
						</div>
					</div>
				</div>
				<!-- subject -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 photo">
					<div class="course-item">
						<div class="course-thumb set-bg" data-setbg="img/courses/5.jpg">							
						</div>
						<div class="course-info">
							<div class="course-text">
								<h5>Computer Learning</h5>
								<p>Lorem ipsum dolor sit amet, consectetur</p>								
							</div>						
						</div>
					</div>
				</div>
				<!-- subject -->
				</div>
			</div>
		</div>
</section>
	<!-- course section end -->


	<!-- signup section -->
	<section class="signup-section spad" data-radius="none">
		<div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6" style="border-radius: 20%;">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>Get Your Child Enrolled</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
						</div>
						<!-- signup form -->
						<form class="signup-form">
							<p>jsdahfkjvej dnojv dkvnfj vkfnvkenv oe vjnkvej kenkne voj enven vejv eneknerv ejniekrnv er jerekv ier jerf jf jrf jrf jr irfir fir feih </p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->


	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Join Our Family</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
			</div>
			<div class="text-center pt-5">
				<a href="#" class="site-btn">Contact Us</a>
			</div>
		</div>
	</section>
	<!-- banner section end -->